.pokeCard{
    height: 400px;
    width: 300px;
    background-color: #B0ccd5;
    margin-bottom: 50px;
}

.pokeCard img{
    height: calc(400px - 125px);
}

.pokeCard div{
    height: 125px;
    background-color: #A8ebff;
}

.pokeCard div h4{
    font-size: 20px;
}

.pokeCard button{
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    justify-content: space-between;
    margin-left: 20px;
    font-style: italic;
}